/* Fuentes
font-family: 'Montserrat', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.pb-t {
    padding: 1rem 0;
}
.titulo {
    text-align: center;
    margin: 1rem 0 2rem 0;
    text-transform: uppercase;
}
.contenedorGeneral {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.contenedor1, .contenedor2, .contenedor3, .contenedor4, .contenedor5 {
    display: flex;
    gap: 1rem;
}
.contenedor1 p, .contenedor2 p, .contenedor3 p, .contenedor4 p, .contenedor5 p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    border: solid #ddd 2px;
}

.boton {
    text-transform: uppercase;
    padding: .5rem;
    background-color: #555;
    color: #fff;
    width: 50%;
    border: solid #000 2px;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
    margin-bottom: 5rem;
}
.correcto {
    background-color: #4e9;
    animation-name: chiche;
    animation-duration: 1.5s;
}
.semiCorrecto {
    background-color: #ff0;
    animation-name: chiche;
    animation-duration: 1.5s;
}
.incorrecto {
    background-color: #666;
    animation-name: chiche;
    animation-duration: 1.5s;
}

@media (max-width: 400px) {
    .contenedor1 p, .contenedor2 p, .contenedor3 p, .contenedor4 p, .contenedor5 p {
        width: 3rem;
        height: 3rem;
    }
}

@keyframes chiche {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {  
        transform: rotate(180deg);
    }
    75% {  
        transform: rotate(260deg);
    }
    100% {
        transform: rotate(360deg);
    }
}